:root {
    /*--mainbackground: #F2F1EF; /* głowny color tła na całą stronę */
    /*--secondbackground: #D8CFD0; /* color tła mniejszych sekcji, boczne menu itp */
    /*--accentcolor: #B1A6A4; /* kolor akcentu, napisów, tła przycisków */
    /*--hoverback: #413F3D; /* color tła po hoverze */
    /*--hovertext: #B1A6A4; /* color tekstu po hoverze, taki sam jak accentu*/

    --mainbackground: #FfFffF; /* głowny color tła na całą stronę */
    --secondbackground: #f5f5f5; /* color tła mniejszych sekcji, boczne menu itp */
    --accentcolor: #2e3d4a; /* kolor akcentu, napisów, tła przycisków */
    --hoverback: #e1e1e1; /* color tła po hoverze */
    --hovertext: #000000; /* color tekstu po hoverze, taki sam jak accentu */
}

* {
    color: var(--accentcolor);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--mainbackground);
    color: var(--hoverback);
    margin: 2em;
    margin-top: auto;
}
.sidemenu {
    margin-left: 0.5rem;
    height: 100%;
    width: 15em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondbackground);
    overflow: hidden;
    padding-top: 1em;
    box-shadow: 1px 0px 5px var(--accentcolor);
}

.sidemenu img {
    border-radius: 100%;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: solid;
    box-shadow: 1px 1px 5px var(--accentcolor);
}


.sidemenu button {
    width: 100%;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color:var(--hovertext);
    display: block;
    background-color: var(--hoverback);
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.sidemenu button:hover {
    color:var(--hoverback); /*#f1f1f1;*/
    background-color: var(--accentcolor);
}

.sidemenu button.active {
    background-color: var(--accentcolor);
    color: var(--hoverback);
}

a {
    text-decoration: none;
    color: var(--hovertext);
    transition: 0.3s;
}

a:hover {
    background-color: var(--accentcolor);
    color: var(--hoverback);
    padding: 3px 3px 3px 3px;
}

.tabcontent {
    width: 80%;
    margin: 0em 0em 0em 15em;
    font-size: 1em;
    padding: 0px 0px;
    float: left;
}

.tabcontent h2 {
    background-color: var(--accentcolor);
    color: var(--hoverback);
    text-align: center;
    padding: 0.1em;
    max-width: 100%;
    display: block;
    box-shadow: 4px 4px 5px var(--hoverback);
}

.tabcontent h3 {
    border-bottom: 2px var(--accentcolor) solid;
    max-width: 100%;
}

.tabcontent p {
   /* float: left;*/
    margin-right: 1em;
    text-decoration:none;
}

.bio {
    text-align: center;
}

.project {
    margin: 0em 2em 0em 15em;
    font-size: 1em;
    padding: 0px 10px;
}

table th {
    width: 20%;
    text-align: left;
}

/*th, td {
    border-bottom: 1px solid var(--hoverback);
  }*/

tr:nth-child(even) {
    background-color:var(--hoverback);
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-container1 {
    float: left;
    flex-grow: 1;
}

.flex-container2 {
    float: right;
    flex-grow: 1;
}

  @media screen and (max-width: 800px) {

    .flex {
        flex-direction: column;
    }

    .sidemenu {
        margin-left: 0rem;
        height:23rem;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: var(--secondbackground);
        overflow: hidden;
        padding-top: 1em;
        box-shadow: 1px 0px 5px var(--accentcolor);
    }
    .tabcontent {
        width: 100%;
        margin: 23rem 0em 0em 0em;
        font-size: 1em;
        padding: 0px 0px;
        float: left;
    }
    body {
        margin: 1em;
    }
  }

/*Pierwsza wersja klasyczna*/
/*.sidemenu {
    height: 100%;
    width: 15em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondbackground);
    overflow: hidden;
    padding-top: 1em;
}

.sidemenu img {
    border-radius: 100%;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: solid;
}


.sidemenu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em; */
    /*color:var(--hoverback); */
   /* display: block;
    background-color: var(--accentcolor);
}

.sidemenu a:hover {
    color:var(--hovertext); /*#f1f1f1;*//*
    background-color: var(--hoverback);
}

.main {
    margin: 0em 0em 0em 15em;
    font-size: 1em;
    padding: 0px 10px;
}

.project {
    margin: 0em 2em 0em 15em;
    font-size: 1em;
    padding: 0px 10px;
} */