:root {
    --mainbackground: #F2F1EF; /* głowny color tła na całą stronę */
    --secondbackground: #D8CFD0; /* color tła mniejszych sekcji, boczne menu itp */
    --accentcolor: #B1A6A4; /* kolor akcentu, napisów, tła przycisków */
    --hoverback: #413F3D; /* color tła po hoverze */
    --hovertext: #B1A6A4; /* color tekstu po hoverze, taki sam jak accentu */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--mainbackground);
    color: var(--hoverback);
    margin: 2em;
}
.sidemenu {
    height: 100%;
    width: 15em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondbackground);
    overflow: hidden;
    padding-top: 1em;
}

.sidemenu img {
    border-radius: 100%;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: solid;
}
.sidemenu h1 {
    color:var(--accentcolor);
}

.sidemenu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color:var(--hoverback);
    display: block;
    background-color: var(--accentcolor);
}
.sidemenu a:hover {
    color:var(--hovertext); /*#f1f1f1;*/
    background-color: var(--hoverback);
}

.main {
    margin: 0em 0em 0em 15em;
    font-size: 1em;
    padding: 0px 10px;
}

.project {
    margin: 0em 2em 0em 15em;
    font-size: 1em;
    padding: 0px 10px;
}