:root,
:root.light {
    --main-background: #ffffff;
    --second-background: #f5f5f5;
    --h2-background-color: #2e3d4a;
    --button-bckgrnd-color: #e1e1e1;
    --button-bckgrnd-color-hover:#2e3d4a;
    --main-text-color: #2e3d4a;
    --hover-text-color:#e1e1e1 ;
    --h2-text-color: #e1e1e1 ;
    --shadow-color: #2e3d4a;
    --button-color-text: #2e3d4a;
    --table-bth-color: #e1e1e1;
}

:root.dark {
    --main-background: #1d2731;
    --second-background: #0b3c5d;
    --h2-background-color: #d9b310;
    --button-bckgrnd-color: #1d2731;
    --button-bckgrnd-color-hover:#d9b310;
    --main-text-color: #e1e1e1;
    --hover-text-color:#0b3c5d ;
    --h2-text-color: #0b3c5d;
    --shadow-color: #e1e1e1;
    --button-color-text: #e1e1e1;
    --table-bth-color: #0b3c5d;
}

* {
    color: var(--main-text-color);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--main-background);
    color: var(--main-text-color);
    margin: 1em;
    margin-top: auto;
}

.sidemenu {
    margin-left: 0.5rem;
    height: 100%;
    width: 15em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--second-background);
    overflow: hidden;
    padding-top: 1em;
    box-shadow: 1px 0px 5px var(--shadow-color);
}

.sidemenu img {
    border-radius: 100%;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: solid;
    box-shadow: 1px 1px 5px var(--shadow-color);
}


button {
    width: 100%;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color: var(--button-color-text);
    display: block;
    background-color: var(--button-bckgrnd-color);
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    color: var(--hover-text-color);
    background-color: var(--button-bckgrnd-color-hover);
}

button.active {
    background-color: var(--button-bckgrnd-color-hover);
    color: var(--hover-text-color);
}

.switcher {
    position: fixed;
    bottom: 0%;
    width: inherit;
}

.theme-btn.light {
    display: none;
}

.dark .theme-btn.dark {
    display: none;
}

.dark .theme-btn.light {
    display: block;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
    transition: 0.3s;
}

a:hover {
    background-color: var(--button-bckgrnd-color-hover);
    color: var(--hover-text-color);
    padding: 3px 0px 3px 0px;
}

.tabcontent {
    width: 75%;
    margin: 0em 0em 0em 15em;
    font-size: 1em;
    padding: 0px 0px;
    float: left;
    animation: fadeEffect 1s;
}

.tabcontent h2 {
    background-color: var(--h2-background-color);
    color: var(--h2-text-color);
    text-align: center;
    padding: 0.1em;
    max-width: 100%;
    display: block;
    box-shadow: 4px 4px 5px var(--shadow-color);
}

.tabcontent h3 {
    border-bottom: 2px var(--main-text-color) solid;
    width: 100%;
}

.tabcontent p {
    margin-right: 1em;
    text-decoration: none;
}

.project {
    margin: 0em 2em 0em 15em;
    font-size: 1em;
    padding: 0px 10px;
}

table th {
    width: 10%;
    text-align: left;
}

tr:nth-child(even) {
    background-color: var(--table-bth-color);
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-container1 {
    flex-grow: 1;
    max-width: 50%;
}

.flex-container2 {
    flex-grow: 1;
    max-width: 50%;
}

.sidemenu-mobile {
    display: none;
    box-shadow: 1px 0px 5px var(--shadow-color);
    padding: 0.5em 0em;
    background-color: var(--second-background);
}

.sidemenu-mobile img {
    border-radius: 100%;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: solid;
    box-shadow: 1px 1px 5px var(--shadow-color);
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {

    .flex {
        flex-direction: column;
    }

    .flex-container1,
    .flex-container2 {
        max-width: 100%;
    }

    .sidemenu {
        display: none;
        margin-left: 0rem;
        height: 25rem;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: var(--second-background);
        overflow: hidden;
        padding-top: 1em;
        box-shadow: 1px 0px 5px var(--shadow-color);
    }

    .sidemenu-mobile {
        display: block;
    }

    button {
        padding: 1em;
    }

    h1 {
        text-align: center;
    }

    .tabcontent {
        width: 100%;
        margin: 0rem 0em 0em 0em;
        font-size: 1em;
        padding: 0px 0px;
        overflow: hidden;
    }

    body {
        margin: 1em;
    }

    .switcher {
        position: relative;
    }
}